/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 450 version
*/

@charset "utf-8";

.ncontent1,
.ncontent3 {
	-webkit-animation         : ncontent1 5s infinite linear;
	   -moz-animation         : ncontent1 5s infinite linear;
	     -o-animation         : ncontent1 5s infinite linear;
	        animation         : ncontent1 5s infinite linear;
}

.ncontent2 {
	-webkit-animation         : ncontent2 5s infinite linear;
	   -moz-animation         : ncontent2 5s infinite linear;
	     -o-animation         : ncontent2 5s infinite linear;
	        animation         : ncontent2 5s infinite linear;
}

@-webkit-keyframes ncontent1 {
  14.29% {
    background-color: #1abc9c;
  }
  28.6% {
    background-color: #18b495;
  }
  42.9% {
    background-color: #159d82;
  }
  57.15% {
    background-color: #12876f;
  }
  71.44% {
    background-color: #159d82;
  }
  85.73% {
    background-color: #18b495;
  }
  100% {
    background-color: #1abc9c;
  }
}

@-moz-keyframes ncontent1 {
  14.29% {
    background-color: #1abc9c;
  }
  28.6% {
    background-color: #18b495;
  }
  42.9% {
    background-color: #159d82;
  }
  57.15% {
    background-color: #12876f;
  }
  71.44% {
    background-color: #159d82;
  }
  85.73% {
    background-color: #18b495;
  }
  100% {
    background-color: #1abc9c;
  }
}

@-o-keyframes ncontent1 {
  14.29% {
    background-color: #1abc9c;
  }
  28.6% {
    background-color: #18b495;
  }
  42.9% {
    background-color: #159d82;
  }
  57.15% {
    background-color: #12876f;
  }
  71.44% {
    background-color: #159d82;
  }
  85.73% {
    background-color: #18b495;
  }
  100% {
    background-color: #1abc9c;
  }
}

@keyframes ncontent1 {
  14.29% {
    background-color: #1abc9c;
  }
  28.6% {
    background-color: #18b495;
  }
  42.9% {
    background-color: #159d82;
  }
  57.15% {
    background-color: #12876f;
  }
  71.44% {
    background-color: #159d82;
  }
  85.73% {
    background-color: #18b495;
  }
  100% {
    background-color: #1abc9c;
  }
}

@-webkit-keyframes ncontent2 {
  14.29% {
    background-color: #821bdc;
  }
  28.6% {
    background-color: #7919cc;
  }
  42.9% {
    background-color: #6b16b6;
  }
  57.15% {
    background-color: #5e149f;
  }
  71.44% {
    background-color: #6b16b6;
  }
  85.73% {
    background-color: #7919cc;
  }
  100% {
    background-color: #821bdc;
  }
}

@-moz-keyframes ncontent2 {
  14.29% {
    background-color: #821bdc;
  }
  28.6% {
    background-color: #7919cc;
  }
  42.9% {
    background-color: #6b16b6;
  }
  57.15% {
    background-color: #5e149f;
  }
  71.44% {
    background-color: #6b16b6;
  }
  85.73% {
    background-color: #7919cc;
  }
  100% {
    background-color: #821bdc;
  }
}

@-o-keyframes ncontent2 {
  14.29% {
    background-color: #821bdc;
  }
  28.6% {
    background-color: #7919cc;
  }
  42.9% {
    background-color: #6b16b6;
  }
  57.15% {
    background-color: #5e149f;
  }
  71.44% {
    background-color: #6b16b6;
  }
  85.73% {
    background-color: #7919cc;
  }
  100% {
    background-color: #821bdc;
  }
}

@keyframes ncontent2 {
  14.29% {
    background-color: #821bdc;
  }
  28.6% {
    background-color: #7919cc;
  }
  42.9% {
    background-color: #6b16b6;
  }
  57.15% {
    background-color: #5e149f;
  }
  71.44% {
    background-color: #6b16b6;
  }
  85.73% {
    background-color: #7919cc;
  }
  100% {
    background-color: #821bdc;
  }
}