{% extends "base.html" %}
{% block body %} 
<div class="ncontent1">
    <a id="home"></a>
    <h1>{{ title }}</h1>
    <p>This is my Website!</p>
</div>
<div class="ncontent2">
    <a id="portfolio"></a>
    <h1>My Portfolio</h1>
    <div class="grid2x2">
        <div class="box box1">
            <picture>
                <source srcset="{{ url_for('static', filename='img/webp/github.webp') }}" type="image/webp">
                <source srcset="{{ url_for('static', filename='img/svg/github.svg') }}" type="image/svg">
                <img src="{{ url_for('static', filename='img/png/github.png') }}" type="image/png" alt="Github">
            </picture>
            <a href="{{ links[0] }}" target="_blank" rel="noopener noreferrer"><p>Github | Coding</p></a>
        </div>
        <div class="box bo2">
            <picture>
                <source srcset="{{ url_for('static', filename='img/webp/youtube.webp') }}" type="image/webp">
                <source srcset="{{ url_for('static', filename='img/svg/youtube.svg') }}" type="image/svg">
                <img src="{{ url_for('static', filename='img/png/youtube.png') }}" type="image/png" alt="youtube">
            </picture>
            <a href="{{ links[1] }}" target="_blank" rel="noopener noreferrer"><p>Youtube | Translating</p></a>
        </div>
        <div class="box box3">
            <picture>
                <source srcset="{{ url_for('static', filename='img/webp/crowdin.webp') }}" type="image/webp">
                <source srcset="{{ url_for('static', filename='img/svg/crowdin.svg') }}" type="image/svg">
                <img src="{{ url_for('static', filename='img/png/crowdin.png') }}" type="image/png" alt="crowdin">
            </picture>
            <a href="{{ links[2] }}" target="_blank" rel="noopener noreferrer"><p>Crowdin | Translating</p></a>
        </div>
        <div class="box box4">
            <picture>
                <source srcset="{{ url_for('static', filename='img/webp/steam.webp') }}" type="image/webp">
                <source srcset="{{ url_for('static', filename='img/svg/steam.svg') }}" type="image/svg">
                <img src="{{ url_for('static', filename='img/png/steam.png') }}" type="image/png" alt="steam">
            </picture>
            <a href="{{ links[3] }}" target="_blank" rel="noopener noreferrer"><p>FreeGamesonSteam</p></a>
        </div>
    </div>
</div>
<div class="ncontent3">
    <a id="contact"></a>
    <h1>Contact</h1>
    <p>Email (Long response time!): <a href="{{ links[4] }}">Here!</a></p>
    <p>Twitter: <a href="{{ links[5] }}" target="_blank" rel="noopener noreferrer">Nickwasused</a></p>
    <p>Keybase: <a href="{{ links[6] }}" target="_blank" rel="noopener noreferrer">Nickwasused</a></p>
</div>
{% endblock %} 