@charset "utf-8";
@import url("animation.css");

html
{
	background-color:#333;
	scroll-behavior:smooth;
	scroll-snap-type:y mandatory;
	min-height:100vh;
	min-width:100vw;
	margin:0;
  font-family          : 'Roboto', sans-serif;
	font-size            : 15px;
	text-justify         : inter-word;
}

body {
	overflow-x : hidden;
	margin     : 0px;
}

ul {
	list-style-type  : none;
	margin           : 0px;
	padding          : 0px;
	overflow         : hidden;
	background-color : #333;
}

.ac {
	color : #821bdc;
}

a {
	color : white;
}

a:hover {
	color : gray;
}

li {
	float : left;
}

li a {
	display         : block;
	color           : white;
	text-align      : center;
	padding         : 1.33vh 1.33vh;
	text-decoration : none;
}

li a:hover {
	background-color : #111;
}

::-moz-selection,
::selection {
	color      : white;
	background : #333;
}

img {
	max-height : 25%;
	max-width  : 25%;
	display       : block;
	margin-left   : auto;
	margin-right  : auto;
	margin-top    : 0px;
	margin-bottom : 0px;
}

header {
	scroll-snap-align : start;
	min-height        : 5vh;
	max-height        : 5vh;
}

footer {
	text-align : center;
	min-height : 5vh;
	max-height : 5vh;
	padding-top: 3vh;
	padding-bottom: 2vh;
}

footer p {
	margin : 0px;
}

.ncontent {
	scroll-snap-align      : start;
	display                : -webkit-box;
	display                : -webkit-flex;
	display                : -moz-box;
	display                : -ms-flexbox;
	display                : flex;
	-webkit-box-orient     : vertical;
	-webkit-box-direction  : normal;
	-webkit-flex-direction : column;
    -moz-box-orient        : vertical;
    -moz-box-direction     : normal;
    -ms-flex-direction     : column;
    flex-direction         : column;
	height                 : 100vh;
	width                  : 100vw;
}

.ncontent2,
.ncontent3 {
	scroll-snap-align : start;
}

.ncontent1,
.ncontent2,
.ncontent3,
.ncontent5 {
	padding-top       : 5vh;
	text-align        : center;
	color             : white;
	font-size         : 200%;
}

.ncontent1 {
	background  : #1abc9c;
	min-height  : 90vh;
	min-width   : 100vw;
	max-height  : 90vh;
	max-width   : 100vw;
}

.ncontent2 {
	min-height        : 95vh;
	min-width         : 100vw;
	max-height        : 95vh;
	max-width         : 100vw;
	background        : #821bdc;
}

.ncontent3 {
	background        : #1abc9c;
	min-height        : 85vh;
	min-width         : 100vw;
	max-height        : 85vh;
	max-width         : 100vw;
}

.ncontent5 {
	scroll-snap-align : start;
	background        : #1abc9c;
	min-height        : 80vh;
	min-width         : 100vw;
	max-height        : 80vh;
	max-width         : 100vw;
}

.grid2x2,
.grid2x2 > div,
.grid2x2 > div > div {
	display: flex;
}

.grid2x2 {
  min-height: 50vh;
  flex-wrap: wrap;
  flex-direction: row;
}

.grid2x2 > div {
  flex-basis: calc(50% - 40px);  
  justify-content: center;
  flex-direction: column;
}

.grid2x2 > div > div {
  justify-content: center;
  flex-direction: row;
}

.hidden {
	visibility : hidden;
	height     : 0vh;
	width      : 0vw;
}

.pgp {
	font-size   : 67.5%;
	white-space : wrap;
}

@media only screen and (min-width: 1000px) and (max-width: 1499px) {
	p {
		font-size : 75%;
	}
	h1 {
		font-size : 200%;
	}
}

@media only screen and (max-width: 700px) {
	.ncontent2,
	.ncontent4 {
		font-size : 130%;
	}
}

@media only screen and (max-width: 600px) {
	.pgp {
		visibility : hidden;
		max-height : 0vh;
	}
}

@media only screen and (max-height: 640px) {
	.pgp {
		visibility : hidden;
		max-height : 0vh;
	}
}

@media only screen and (max-width: 500px) {
	.ncontent4 h1 {
		font-size : 100%;
	}
	p {
		font-size : 100%;
	}
	h1 {
		font-size : 100%;
	}
	
}

@media only screen and (max-width: 300px) {
	.ncontent2,
	.ncontent4,
	.ncontent4 h1 {
		font-size : 100%;
	}
}
